
header {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.lol {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background-color: #ecfbff;
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.0);
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 85%;
  height: 90px;
  object-fit: cover;
}

.card-content {
  padding: 8px;
}

.card-content h3 {
  color: #d9534f;
  margin-bottom: 1px;
}

.card-content p {
  font-size: 0.9rem;
  line-height: 0.5;
}
