       
        body {
            background-color: #F8FF8A;
            font-family: "Times New Roman", Times, serif;
            margin: 0;
            padding: 0;
        }

        
        #menu {
            background-color: #9DB04D;
            padding: 10px 0;
        }

        #menu ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: left; 
            padding-left: 10%;
        }

        #menu ul li {
            margin-right: 15px;
        }

        #menu ul li a {
            text-decoration: none;
            color: white;
            font-size: 18px;
            font-weight: bold;
            padding: 10px 15px;
            transition: color 0.3s ease;
            display: inline-block;
        }

        #menu ul li a:hover {
            color: #DBE0A6; 
        }

        
        #menu ul li a.active {
            display: none; 
        }

        
        h1 {
            text-align: left;
            font-size: 36px;
            color: black;
            font-weight: bold;
            margin: 20px 10%;
        }

        
        p {
            text-align: left;
            font-size: 18px;
            margin: 10px 10%;
            line-height: 1.8;
        }

        /* Formulario */
        form {
            margin: 50px 10%;
            background-color: #FFEFD5; /* Fondo color arena pálido */
            border: 2px solid #9DB04D;
            padding: 20px;
            border-radius: 10px;
        }

        form ul {
            list-style: none;
            padding: 0;
        }

        form li {
            margin-bottom: 15px;
        }

        form label {
            display: block;
            font-size: 18px;
            color: black;
            margin-bottom: 5px;
        }

        form input[type="text"],
        form input[type="email"],
        form textarea {
            width: 100%;
            padding: 10px;
            border: 2px solid #9DB04D;
            border-radius: 5px;
            font-size: 16px;
        }

        form textarea {
            resize: vertical;
            height: 100px;
        }

        form button {
            background-color: #9DB04D;
            color: white;
            font-size: 18px;
            font-weight: bold;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        form button:hover {
            background-color: #DBE0A6;
        }